<html>
	<head>
		<title>Driver's App Customer Page</title>
	</head>
	<body>
		<div>
			<h1>This is customer's app page!</h1>
		</div>
		<div>
			<label>Customer Id : </label>
			<input style="width: 100px" type="number" id="customer_id" placeholder="Customer Id" />
			<br /><br />
			<label>Latitude : </label>
			<input style="width: 100px" min="0" max="5" type="number" id="latitude" placeholder="Latitude" />
			<br /><br />
			<label>Longitude : </label>
			<input style="width: 100px" min="0" max="5" type="number" id="longitude" placeholder="Longitude" />
			<br /><br /><br />
			<button id="book">Ride Now</button>
		</div>
		<script type="text/javascript" src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/customer.js"></script>
	</body>
</html>