<html>
	<head>
		<title>Driver's App Index Page</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/driver.css" />
	</head>
	<body>
		<div>
			<h1>This is driver's app page!</h1>
		</div>
		<div>
			<h2 id = "driver_id">Driver App id : </h2>
			<button id = "refresh">Refresh</button>
			<br /><br /><br />
			<div id = "table">
				<div id = "waiting" class = "columns">
					<div class = "head">
						<h3>Waiting</h3>
					</div>
				</div>
				<div id = "ongoing" class = "columns">
					<div class = "head">
						<h3>Ongoing</h3>
					</div>
				</div>
				<div id = "complete" class = "columns">
					<div class = "head">
						<h3>Complete</h3>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/driver.js"></script>
	</body>
</html>